<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <div class="user icon">
            <img src="../../images/profil.png" />
          </div>
          <span class="title"><%= name%> <%= surname%></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="home"></ion-icon></span>
          <span class="title">Ana Sayfa</span>
        </a>
      </li>
      <li>
        <a href="/duyurular">
          <span class="icon"><ion-icon name="notifications"></ion-icon></span>
          <span class="title">Duyurular</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
          <span class="title">Profil</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
          <span class="title">Password</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="log-out"></ion-icon></span>
          <span class="title">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="menu"></ion-icon>
      </div>
      <div class="search">
        <label>
          <input type="text" placeholder="Arama" />
          <ion-icon name="search"></ion-icon>
        </label>
      </div>
    </div>
  </div>
</div>
<script>
  let toggle = document.querySelector(".toggle");
  let navigation = document.querySelector(".navigation");
  let main = document.querySelector(".main");

  toggle.onclick = function () {
    navigation.classList.toggle("active");
    main.classList.toggle("active");
  };

  let list = document.querySelectorAll(".navigation li");
  function activeLink() {
    list.forEach((item) => item.classList.remove("hovered"));
    this.classList.add("hovered");
  }
  list.forEach((item) => item.addEventListener("mouseover", activeLink));
</script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
