<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <div class="user icon">
            <img src="<%= profileImage %>" alt="Profil Resmi" />
          </div>
          <span class="title"><%= name %> <%= surname %></span>
        </a>
      </li>
      <li data-active="home">
        <a href="/home">
          <span class="icon"><ion-icon name="home"></ion-icon></span>
          <span class="title">Ana Sayfa</span>
        </a>
      </li>
      <li data-active="duyurular">
        <a href="/duyurular">
          <span class="icon"><ion-icon name="notifications"></ion-icon></span>
          <span class="title">Duyurular</span>
        </a>
      </li>
      <li data-active="profil">
        <a href="/profil">
          <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
          <span class="title">Profil</span>
        </a>
      </li>
      <li data-active="sifre">
        <a href="/sifre">
          <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
          <span class="title">Şifre İşlemleri</span>
        </a>
      </li>
      <li data-active="admin">
        <a href="/admin">
          <span class="icon"><ion-icon name="skull"></ion-icon></span>
          <span class="title">Admin Paneli</span>
        </a>
      </li>
      <li data-active="calisanlar">
        <a href="/admin/calisanlar">
          <span class="icon"><ion-icon name="skull"></ion-icon></span>
          <span class="title">Calisanlar</span>
        </a>
      </li>
      <li data-active="aduyurular">
        <a href="/admin/duyurular">
          <span class="icon"><ion-icon name="skull"></ion-icon></span>
          <span class="title">Admin Duyurular</span>
        </a>
      </li>
      <li data-active="logout">
        <a href="/logout">
          <span class="icon"><ion-icon name="log-out"></ion-icon></span>
          <span class="title">Çıkış Yap</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="menu"></ion-icon>
      </div>
      <div class="search">
        <label>
          <input type="text" placeholder="Arama" />
          <ion-icon name="search"></ion-icon>
        </label>
      </div>
    </div>
  </div>
</div>
<script>
  let toggle = $(".toggle");
  $(document).ready(function () {
    let navigation = $(".navigation");
    let main = $(".main");
    let list = $(".navigation li");
    let content = $(".content");

    const currentPath = window.location.pathname;
    list.each(function () {
      const link = $(this).find("a").attr("href");
      if (link === currentPath) {
        $(this).addClass("hovered");
      }
    });

    $(".toggle").on("click", function () {
      navigation.toggleClass("active");
      main.toggleClass("active");
      content.toggleClass("active");
    });

    list.on("click", function () {
      list.removeClass("hovered");
      $(this).addClass("hovered");
    });
  });
</script>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
