<%- include("./modal/contact_modal.ejs") %>
<div class="container mb-3">
  <table id="contact_info" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>Çalışan ID</th>
        <th>Ad-Soyad</th>
        <th>Adres Tipi</th>
        <th>Şehir</th>
        <th>Semt</th>
        <th>Tam Adres</th>
        <th>Acil Durum Numarası</th>
        <th>İşlem</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th>Çalışan ID</th>
        <th>Ad-Soyad</th>
        <th>Adres Tipi</th>
        <th>Şehir</th>
        <th>Semt</th>
        <th>Tam Adres</th>
        <th>Acil Durum Numarası</th>
        <th>İşlem</th>
      </tr>
    </tfoot>
  </table>
</div>

<script>
  function ellipsis(text, maxLength) {
    if (text.length > maxLength) {
      return text.substring(0, maxLength) + "...";
    }
    return text;
  }

  function editContact(apiUrl, userId) {
    console.log(apiUrl, userId);
    userid = userId;
    console.log(userid);
    $.ajax({
      url: apiUrl,
      method: "GET",
      success: function (data) {
        console.log(data);
        $(userid).val(data.contact_id);

        $("#modalInputAddressType").val(data.address_type);
        $("#modalInputCity").val(data.city);
        $("#modalInputState").val(data.state);
        $("#modalInputFullAddress").val(data.full_address);
        $("#modalInputEmergencyContact").val(data.emergency_contact);

        $("#editContactModal").modal("show");
      },
      error: function (err) {
        console.error("Kullanıcı bilgileri alınırken bir hata oluştu.", err);
        showToast("Kullanıcı bilgileri alınırken", "Bir hata oluştu");
      },
    });
  }

  $(document).ready(function () {
    var table = $("#contact_info").DataTable({
      ajax: {
        url: "/admin/api/calisanlar/contact",
        dataSrc: "",
      },
      columns: [
        { data: "employee_id" },
        {
          data: "first_name",
          render: function (data, type, row) {
            return data ? `${data} ${row.last_name}` : "N/A";
          },
        },
        {
          data: "address_type",
          render: function (data) {
            return data || "N/A";
          },
        },
        {
          data: "city",
          render: function (data) {
            return data || "N/A";
          },
        },
        {
          data: "state",
          render: function (data) {
            return data || "N/A";
          },
        },
        {
          data: "full_address",
          render: function (data) {
            return data || "N/A";
          },
        },
        {
          data: "emergency_contact",
          render: function (data) {
            return data || "N/A";
          },
        },
        {
          data: "employee_id",
          render: function (data) {
            return `<a href="#" class="btn btn-warning btn-sm" onclick="editContact('/admin/api/calisanlar/contact/${data}', '${data}')">
                    <ion-icon name="create-outline" data-toggle="tooltip" title="DÜZENLE"></ion-icon></a>
                    <a href="#" class="btn btn-danger btn-sm"  onclick="confirmDelete('/admin/api/calisanlar/contact/${data}', ${data},'#contact_info')">
                    <ion-icon name="trash" data-toggle="tooltip" title="SİL"></ion-icon></a>`;
          },
        },
      ],
      dom: "Blfrtip", // Butonlar ve filtreler için yapılandırma
      buttons: [
        {
          extend: "colvis",
          text: '<i class="fa fa-eye" data-toggle="tooltip" title="Kolonları Göster/Gizle"></i>',
        },
        {
          extend: "excelHtml5",
          text: '<i class="fa fa-file-excel-o" data-toggle="tooltip" data-original-title="Excel\'e Aktar"></i>',
          title: "Çalışanlar " + moment(new Date()).format("DD-MM-YYYY"),
          exportOptions: {
            columns: ":visible",
          },
        },
        {
          extend: "print",
          text: '<i class="fa fa-print" data-toggle="tooltip" data-original-title="Yazdır"></i>',
          title: "Çalışanlar " + moment(new Date()).format("DD-MM-YYYY"),
          exportOptions: {
            columns: ":visible",
          },
        },
      ],
      fixedColumns: {
        leftColumns: 1,
      },
      fixedHeader: true,
      scrollCollapse: true,
      searching: true,
      scrollX: true,
      lengthMenu: [
        [10, 25, 50, -1],
        [10, 25, 50, "All"],
      ],
      language: {
        lengthMenu: " _MENU_ Sayfa başı kayıt Sayısı",
        zeroRecords: "Kayıt bulunamadı",
        info: "_TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
        infoEmpty: "Kayıt yok",
        infoFiltered: "(toplam _MAX_ kayıttan filtrelendi)",
        search: "Ara:",
        paginate: {
          first: "İlk",
          last: "Son",
          next: "Sonraki",
          previous: "Önceki",
        },
      },
      initComplete: function () {
        this.api()
          .columns()
          .every(function () {
            let column = this;
            let title = column.footer().textContent;

            let input = document.createElement("input");
            input.placeholder = title;
            column.footer().replaceChildren(input);

            input.addEventListener("keyup", () => {
              if (column.search() !== this.value) {
                column.search(input.value).draw();
              }
            });
          });
      },
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
