<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-dark">General Information</h3>
    </div>
  </div>
  <div class="container py-5 text-center">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#imageUploadModal"
    >
      Open Image Upload Modal
    </button>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="job-detail mt-2 p-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="resume-user mb-5">
              <i class="mdi mdi-account text-white"></i>
            </div>
          </div>
        </div>

        <div class="custom-form">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group app-label">
                  <label for="frist-name" class="text-muted">First Name</label>
                  <input
                    id="frist-name"
                    type="text"
                    class="form-control resume"
                    placeholder=""
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group app-label">
                  <label for="middle-name" class="text-muted"
                    >Middle Name</label
                  >
                  <input
                    id="middle-name"
                    type="text"
                    class="form-control resume"
                    placeholder=""
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group app-label">
                  <label for="surname-name" class="text-muted">Surname</label>
                  <input
                    id="surname-name"
                    type="text"
                    class="form-control resume"
                    placeholder=""
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group app-label">
                  <label for="date-of-birth" class="text-muted"
                    >Date Of Birth</label
                  >
                  <input
                    id="date-of-birth"
                    type="text"
                    class="form-control resume"
                    placeholder="13-02-1999"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group app-label">
                  <label for="General" class="text-muted">General</label>
                  <div class="form-button">
                    <select class="nice-select">
                      <option data-display="General">General</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Other</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group app-label">
                  <label for="marital-status" class="text-muted"
                    >Marital Status</label
                  >
                  <div class="form-button">
                    <select class="nice-select">
                      <option data-display="Status">Status</option>
                      <option value="1">Single</option>
                      <option value="2">Married</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
