:root {
    --white: #ffffff;
    --dark-red: #8B0000;
    --light-red: #FF6347;
    --light-green: #009485ff;
    --dark-green: #00695c;
    --dark-orange: #FFA500;
    --light-orange: #ffcc80;
    --black1: #2b2b31e6;
    --light-black: #4b4b4b;
    --black2: #00000033;

}

/* kaydet ekle gibi işlemler için */
.btn-primary {
    background-color: #009485ff;
    border-color: #009485ff;
    color: white;
}

/* silme işlemleri için */
.btn-danger {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    color: white;
}

/*geri ve iptal butonları için*/
.btn-secondary {
    background-color: #808080;
    border-color: #808080;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    /*sayfa düzenini bozmadan öğe boyutlarını sabit tutmayı sağlar*/
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}


.black-backend {
    background-color: var(--black1);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px var(--black2);
    color: var(--white);
}

.log-reg-body {
    background-image: url('../images/background_log.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.log-reg-container {
    background-color: var(--black1);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px var(--black2);
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
}

.btn-google {
    background-color: var(--light-green);
    color: var(--white);
}

.btn-log-reg {
    background-color: var(--dark-orange);
    font-weight: bold;
    color: white;
}

.btn-log-reg:hover {
    background-color: var(--light-orange);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tfoot input {
    width: 100%;
}

table.dataTable thead th,
table.dataTable tfoot th {
    background-color: #009485;
    /* Arka plan rengi */
    color: white;
    /* Yazı rengi */
    text-align: center;
    /* Yazıları ortala */
    font-weight: bold;
    /* Kalın yazı */
    border-bottom: 2px solid #004d40;
    /* Alt kenarlık */
}


.dataTables_scrollHeadInner,
.dataTables_scrollFootInner {
    box-sizing: content-box;
    width: 100% !important;
    padding-right: 0 !important;
}

.display.dataTable {
    width: 100% !important;
    margin-left: 0;
}

.tab-icon {
    margin-left: 5px;
    color: var(--light-green);
}

.tab-icon-active {
    color: var(--dark-green);
    transform: scale(1.2);
}

.nav-link {
    min-width: 170px;
}

.employee-h3 {
    color: var(--black1);
}

.select2-container {
    width: auto !important;
    min-width: 200px;
}

.btn-annoucement {
    background-color: var(--light-green);
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


.content-short {
    max-height: auto;
    /* Görüntülenecek maksimum yükseklik */
    overflow: hidden;
    /* Taşan metni gizle */
    text-overflow: ellipsis;
    /* Taşan metni '...' ile göster */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* Kaç satır gösterileceğini belirtin */
}

.announcement-card {
    display: flex;
    flex-direction: column;
    /* Kart içeriğini dikey düzenle */
    height: 100%;
    /* Kartın yüksekliğini ayarlayın */
}

.card-body {
    flex-grow: 1;
    /* Kartın içeriğini mümkün olduğunca genişlet */
}


.btn-annoucement>ion-icon {
    color: var(--white);
    font-size: 2rem;
    margin-left: 5px;
}


/* 600px ve altı için (mobil cihazlar) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .log-reg-container {
        max-width: 70%;
    }

    .navbar {
        display: none;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 10px;
    }

    tfoot {
        visibility: hidden;
    }
}

/* Daha büyük ekranlar için değişiklikler */
@media only screen and (min-width: 768px) {
    .log-reg-container {
        max-width: 35%;
    }
    tfoot {
        visibility: hidden;
    }

}

@media only screen and (min-width: 1200px) {
    .log-reg-container {
        max-width: 35%;
    }
}