:root {
    --white: #ffffff;
    --dark-red: #8B0000;
    --light-red: #FF6347;
    --light-green: #009485ff;
    --dark-green: #00695c;
    --dark-orange: #FFA500;
    --light-orange: #ffcc80;
    --black1: #2b2b31e6;
    --light-black: #4b4b4b;
    --black2: #00000033;

}

/* kaydet ekle gibi işlemler için */
.btn-primary {
    background-color: #009485ff;
    border-color: #009485ff;
    color: white;
}
.btn-primary:hover{
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}

/* silme işlemleri için */
.btn-danger {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    color: white;
}

/*geri ve iptal butonları için*/
.btn-secondary {
    background-color: #808080;
    border-color: #808080;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    /*sayfa düzenini bozmadan öğe boyutlarını sabit tutmayı sağlar*/
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}


.black-backend {
    background-color: var(--black1);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px var(--black2);
    color: var(--white);
}

.log-reg-body {
    background-image: url('../images/background_log.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.log-reg-container {
    background-color: var(--black1);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px var(--black2);
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
}

.btn-google {
    background-color: var(--light-green);
    color: var(--white);
}

.btn-log-reg {
    background-color: var(--dark-orange);
    font-weight: bold;
    color: white;
}

.btn-log-reg:hover {
    background-color: var(--light-orange);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tfoot input {
    width: 100%;
}

table.dataTable thead th,
table.dataTable tfoot th {
    background-color: #009485;
    /* Arka plan rengi */
    color: white;
    /* Yazı rengi */
    text-align: center;
    /* Yazıları ortala */
    font-weight: bold;
    /* Kalın yazı */
    border-bottom: 2px solid #004d40;
    /* Alt kenarlık */
}


.dataTables_scrollHeadInner,
.dataTables_scrollFootInner {
    box-sizing: content-box;
    width: 100% !important;
    padding-right: 0 !important;
}

.display.dataTable {
    width: 100% !important;
    margin-left: 0;
}

.tab-icon {
    margin-left: 5px;
    color: var(--light-green);
}

.tab-icon-active {
    color: var(--dark-green);
    transform: scale(1.2);
}

.nav-link {
    min-width: 170px;
}

.employee-h3 {
    color: var(--black1);
}

.select2-container {
    width: auto !important;
    min-width: 200px;
}

.btn-annoucement {
    background-color: var(--light-green);
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


.content-short {
    max-height: auto;
    /* Görüntülenecek maksimum yükseklik */
    overflow: hidden;
    /* Taşan metni gizle */
    text-overflow: ellipsis;
    /* Taşan metni '...' ile göster */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* Kaç satır gösterileceğini belirtin */
}

.announcement-card {
    display: flex;
    flex-direction: column;
    /* Kart içeriğini dikey düzenle */
    height: 100%;
    /* Kartın yüksekliğini ayarlayın */
}

.card-body {
    flex-grow: 1;
    /* Kartın içeriğini mümkün olduğunca genişlet */
}


.btn-annoucement>ion-icon {
    color: var(--white);
    font-size: 2rem;
    margin-left: 5px;
}

/*Şifre değiştirme alanı css*/
.pass_show {
    position: relative
}

.pass_show .ptxt {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    color: #f36c01;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}

.pass_show .ptxt:hover {
    color: #333333;
}

/*Error page style*/
.error-wrapper {
    background-color: #292929;
    height: 100%;
    padding-top: 10%;
}

.error-wrapper .error-container {
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    background-color: #1dbc9c;
    padding: 60px;
}

.error-wrapper .error-container .error {
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    margin: 0 auto;
    text-align: center;
    width: 350px;
}

.error-wrapper .error-container .error .error-title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.error-wrapper .error-container .error .error-number {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 0 3px 0 #292929, 0 14px 10px rgba(0, 0, 0, 0.15),
        0 24px 2px rgba(0, 0, 0, 0.1), 0 34px 30px rgba(0, 0, 0, 0.1);
}

.error-wrapper .error-container .error .error-description {
    font-size: 14px;
    font-weight: 300;
    padding: 0 40px;
}

.error-wrapper .error-container .error .error-or {
    height: 20px;
    margin: 30px 0 10px;
    position: relative;
    text-align: center;
}

.error-wrapper .error-container .error .error-or .or-line {
    background-color: #169077;
    height: 1px;
    left: 40px;
    position: absolute;
    right: 40px;
    top: 10px;
}

.error-wrapper .error-container .error .error-or .or {
    -lh-property: 0;
    left: -webkit-calc(50% - 30px);
    left: -moz-calc(50% - 30px);
    left: calc(50% - 30px);
    background-color: #1dbc9c;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    text-transform: uppercase;
    top: 2px;
    width: 60px;
}

.error-wrapper .error-container .error .error-textbox {
    padding: 0 40px;
}

.error-wrapper .error-container .error .error-textbox .form-control {
    background-color: #292929;
    border: 0;
}

.error-wrapper .error-container .error .error-submit {
    padding: 0 40px;
}

.error-wrapper .error-container .error .error-submit input {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.error-wrapper .error-container .error .error-actions {
    display: block;
    height: auto;
    list-style: none;
    padding: 5px;
}

.error-wrapper .error-container .error .error-actions>li {
    display: inline-block;
    /* float: left; */
    width: 33%;
}

.error-wrapper .error-container .error .error-actions>li a i {
    color: #292929;
    font-size: 32px;
}

.error-wrapper .error-container.error-500 {
    background-color: #ffc107;
}

.error-wrapper .error-container.error-500 .error .error-or .or-line {
    background-color: #d39e00;
}

.error-wrapper .error-container.error-500 .error .error-or .or {
    background-color: #ffc107;
}

.error-wrapper .error-container.error-401 {
    background-color: #34b5dc;
}

.error-wrapper .error-container.error-401 .error .error-or .or-line {
    background-color: #2198bd;
}

.error-wrapper .error-container.error-401 .error .error-or .or {
    background-color: #34b5dc;
}

/* image upload */
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
    height: 200px; /* Yükseklik belirleyin */
    display: flex; /* Flexbox kullanarak içeriği ortalayın */
    justify-content: center; /* Ortalayın */
    align-items: center; /* Ortalayın */
}

.image-area img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Görseli merkezler */
    margin: 0 auto; /* Ortalar */
}

.modal-body {
    text-align: center; /* Modal içeriğini ortalar */
}

#upload-label {
    cursor: pointer; /* İmleç el şekli */
}


/* 600px ve altı için (mobil cihazlar) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .log-reg-container {
        max-width: 70%;
    }

    .navbar {
        display: none;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 10px;
    }

    tfoot {
        visibility: hidden;
    }

    .error-wrapper {
        padding-top: 5%;
    }

    .error-wrapper .error-container {
        -webkit-transform: skew(0deg, -5deg);
        -moz-transform: skew(0deg, -5deg);
        -o-transform: skew(0deg, -5deg);
        -ms-transform: skew(0deg, -5deg);
        transform: skew(0deg, -5deg);
    }

    .error-wrapper .error-container .error {
        -webkit-transform: skew(0deg, 5deg);
        -moz-transform: skew(0deg, 5deg);
        -o-transform: skew(0deg, 5deg);
        -ms-transform: skew(0deg, 5deg);
        transform: skew(0deg, 5deg);
        width: auto;
    }
}

/* Daha büyük ekranlar için değişiklikler */
@media only screen and (min-width: 768px) {
    .log-reg-container {
        max-width: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    .log-reg-container {
        max-width: 35%;
    }
}